<div style="background-image: url('/images/GreyBackground.jpg'); height: 100%;">
  <h1 style="color: black;">Editing Project</h1>

<%= render 'form', project: @project %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>

</div>
