<p style="font-size: 30px; background-color: black; color: rgba(91, 243, 254, 1); padding-top: 0.5rem; padding-left: 75px; padding-bottom: 0.5rem">
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p style="padding-left: 75px">
  <strong style="font-size: larger">Description:</strong>
  <p style="font-size: larger; padding-left: 75px; padding-right: 65px"><%= @project.description %></p>
</p>

<div class="btn-group" style="float: right">
  <button type="button" class="btn btn-sm btn-outline-secondary button_text" style="background-color: black"><%= link_to 'Edit', edit_project_path(@project) %></button>
  <button type="button" class="btn btn-sm btn-outline-secondary button_text" style="background-color: black"><%= link_to 'Back', projects_path %></button>
</div>